*{
    margin: 0;
}

body{
    font-family:'raleway';
    font-size:1em;
}
h1{
    font-size: 1.5em;
    font-weight: 900;
    margin: 10px;
    width: 90%;
}
h2{
    font-size: 1em;
    font-weight: lighter;
    margin: 10px;
    margin-bottom: 20px;
}
h3{
    padding-left: 5px;
}
h4{
    padding-left: 5px;
}
h5{
    padding-left: 5px;
    font-weight:500;
}
p{
    font-size: 1em;
    font-weight: bold;
}

/*HEADER*/
#container_header{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90% !important;
    height: auto;
    margin-bottom: 20px;
}
#container_header img{
    margin-top: 50px;
}
nav{
    margin-top: 2px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 0px !important;
}
.hebergements, .activites, .sinscrire{
    border-top: solid transparent;
    padding-top: 40px;
}
.sinscrire {
    padding-top: 40px;
    color: #0065FC;
    font-weight: bold;
}
.hebergements, .activites{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.hebergements:hover, .activites:hover{
    border-top: solid #0065FC;
    padding-top: 40px;
    font-weight: bold; 
    color:#0065FC; 
}
/*HEADER END*/

/*SECTION_1*/
/* main{
    margin: 40px;
} */
#recherche{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
}
.localisation{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 60px;
}
.icone img{
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    width: 30px;
    height: 30px;
}
.ville{
    background-color: white;
    border: #F2F2F2 solid 0.3px ;
    width: 200px;
    height: 50px;
    text-align: start;
    padding-left: 15px;
    line-height: 50px;
}
input {
    outline:none;
    border: none;
    font-family: 'raleway';
    font-size: 18px;
    font-weight: bold; 
    color:black;
}
.bouton_recherche{
    background-color: #0065FC;
    border: #F2F2F2 solid 1px;
    border-radius: 0 15px 15px 0;
    width: 450px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#search{
    text-decoration: none;
    outline:none;
    border: none;
    background: transparent;
    font-family: 'raleway';
    color: white;
    font-size: 18px;
    font-weight: bold; 
    cursor: pointer;
}
.choix img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 20px;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover {
    cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fixe{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.menu{
    
    margin-right: 40px;
}
.choix{
    display: flex;
    flex-direction: row;
    border: #F2F2F2 solid 2px;
    border-radius: 30px;
    align-items: center;
    padding-right: 20px;
    line-height: 0px;
}
.tri{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    height: 40px;
}
.info img{
    width: 10px;
    height: 10px;
    margin-top: 8px;
    padding: 5px;
    background-color: white;
    border : #F2F2F2 solid 0.5px;
    border-radius: 50%;
}
/*SECTION_1 END */

/*SECTION_2*/
#hebergements{
    /* margin:auto;  */
    width: 100%;
    display: flex;
    flex-direction: row;
}
.norme img{
    width: 240px;
    height: 70px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.norme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:15px;
    background-color: white;
    box-shadow: #B6B5B5 0px 0px 15px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a :hover{
    cursor: pointer;
}
.titre img{
    width: 18px;
    height: 18px;
}

.titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.pop img{
    width: 130px;
    height: 140px;  
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.stars img{
    width: 8px;
    height: 8px;
    border: none;
    padding: 0px;
}
.stars{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}
.col_hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 60%;
    height: auto;
    /* padding:25px; */
}
.col_hebergements p{
    margin-top: 20px;
}
.hotels{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.col_pop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 28%;
    height: 600px;
    padding:25px;
}
.pop{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: #B6B5B5 0px 0px 15px;
    font-size: 18px;
    padding: 5px;
}
.best{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
    height: 120px;
    width: 50%;
}
.stretch{
    display: flex;
    flex-direction: column;
}
.stars_2 img{
    width: 8px;
    height: 8px;
    border: none;
}
.stars_2{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5px;
}
/*SECTION_2 END*/

/*SECTION_3*/
#activites{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.a_faire{
    width: 100%;
    height:425px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 20px;
}
figure{
    box-shadow:#B6B5B5 0px 0px 10px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 20px;
}
.A img, .B img, .C img, .D img, .E img, .F img{
    width: 290px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
/* .B img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.C img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.D img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.E img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.F img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
} */
.a_faire p{
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
}


/*SECTION_3 END*/
/*FOOTER*/
.container_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 180px;
}
.col_contacts{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}
.col_contacts h2{
    margin: 10px;
}
.col_contacts p{
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}
/*FOOTER END*/

